{% extends 'base.html'%}
{%block tittle_block%}
<title>home</title>
{%endblock%}

{%block body_block%}


    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card" style="width: 100%;">
                <div class="card-header">
                  Task Detail
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{task.task_name}}</li>
                  <li class="list-group-item">{{task.user}}</li>
                  <li class="list-group-item">{{task.status}}</li>
                  <li class="list-group-item">{{task.created_date}}</li>
                  <li class="list-group-item">
                    <div class="row">
                        <div class="col-6">
                            <a href="{%url 'task-edit' task.id%}" class="btn btn-outline-warning form-control">Edit</a>
                        </div>
                        <div class="col-6">
                            <a href="{%url 'task-delete' task.id%}" class="btn btn-outline-danger form-control">Delete</a>
                        </div>
                      </div>
                  </li>
                  
                </ul>
              </div>
        </div>
        <div class="col-2"></div>
    </div>
    
    {%endblock%}